@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    color: #0d1007;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.standard-button {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.2rem;
    height: fit-content;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f1af59;
    color: white;
    transition: 200ms;
}

.standard-button:hover {
    cursor: pointer;
    background-color: #f1d38a;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ebe8e9;
}

*::-webkit-scrollbar-track:hover {
    background-color: #ebe8e9;
}

*::-webkit-scrollbar-track:active {
    background-color: #e4e1e2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c0c0c0;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #9f9f9f;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #9f9f9f;
}
