@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    color: #0D1007;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.standard-button {
    font-family: "Signika Negative", sans-serif;
    font-size: 1.2rem;
    height: fit-content;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F1AF59;
    color: white;
    transition: 200ms;
}

.standard-button:hover {
    cursor: pointer;
    background-color: #F1D38A;
}


/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #EBE8E9;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #EBE8E9;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #E4E1E2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C0C0C0;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #9F9F9F;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #9F9F9F;
  }