@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    color: #0D1007;
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

.standard-button {
    font-family: "Signika Negative", sans-serif;
    font-size: 1.2rem;
    height: fit-content;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F1AF59;
    color: white;
    transition: 200ms;
}

.standard-button:hover {
    cursor: pointer;
    background-color: #F1D38A;
}