.recipe-displayer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe-displayer-recipe {
    width: 100%;
    aspect-ratio: 1 / 0.85;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(147, 147, 147);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    transition: 200ms;
    color: #0D1007;
}

.recipe-displayer-recipe:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #789051;
}

.recipe-banner {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1 / 0.5;
    object-fit: cover;
}

.recipe-title {
    font-size: 1.8rem;
    font-weight: 600;
    transition: 200ms;
}

.recipe-displayer-recipe:hover .recipe-title {
    color: #789051;
}

.recipe-desc {
    font-size: 1.05rem;
}